<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: html-head">
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<div class="div-form-container d-flex flex-column justify-content-center align-items-center h-100 w-100">

    <h1 class="py-4">New Product</h1>

    <form class="d-flex flex-column justify-content-center align-items-center w-75" action="#"
          th:action="@{/admin/products/submit}" th:object="${product}" method="post">

        <svg class="img-fluid image-placeholder rounded mx-3 d-flex w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 300"
             width="450" height="300">
            <rect width="450" height="300" fill="#cccccc"></rect>
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-family="monospace"
                  font-size="26px" fill="#333333">Image Placeholder
            </text>
        </svg>

        <div class="form-group py-2 w-100">
            <label class="my-1">Name</label>
            <input class="form-control" type="text" th:field="*{name}" required>
        </div>

        <div class="d-flex flex-row align-items-end py-2 w-100">

            <div class="w-100">
                <label class="my-1">Category</label>
                <select th:field="${multipleSelectionObj.selectedIdList}" class="form-select" aria-label="Default select example" required multiple="multiple" size="4">
                    <option th:each="category : ${multipleSelectionObj.populatedObjectList}"
                            th:value="${category.id}"
                            th:text="${category.title}">Open this select menu</option>
                </select>
            </div>

        </div>

        <div class="align-self-start form-group py-2 w-100">
            <label class="my-1">Summary</label>
            <textarea class="form-control my-1" type="text" th:field="*{summary}" required> </textarea>
        </div>
        <div class="align-self-start form-group py-2 w-100">
            <label class="my-1">Description</label>
            <textarea class="form-control my-1" rows="4" type="text" th:field="*{description}" required> </textarea>
        </div>

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{createdAt}">
        <input type="hidden" th:field="*{updatedAt}">

        <div class="d-flex flex-row justify-content-center my-2" sec:authorize="hasRole('ADMIN')">
            <input th:if="${id == null}" class="btn btn-primary mx-2" type="submit" value="Add Product">
            <input th:unless="${id == null}" class="btn btn-primary mx-2" type="submit" value="Save Product">
            <a class="btn btn-primary mx-2" href="#" th:href="@{/products}">Back to View Products</a>
        </div>

    </form>

    <form class="my-2" action="#" th:action="@{/logout}">
        <a  class="btn btn-outline-dark mx-2" href="#" th:href="@{/}">Back to Home</a>
        <input class="btn btn-outline-dark mx-2" type="submit" value="logout" sec:authorize="isAuthenticated()"/>
    </form>

</div>

</body>
</html>