<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="|${title}|">Header</title>
    <link href="#" th:href="@{/css/bootstrap.min.css?v=0.1}" rel="stylesheet" type="text/css">
    <link href="#" th:href="@{/css/bootstrap-grid.min.css?v=0.1}" rel="stylesheet" type="text/css">
    <link href="#" th:href="@{/css/style.css?v=0.1}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js?v=0.1}"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>

</body>
</html>