body {
    display: flex;
    justify-content: center;
}

.div-table-container {
    min-height: 100vh;
    width: 90%;
}

.div-form-container {
    min-height: 100vh;
    max-width: 1000px;
}

.image-placeholder {
    max-height: 300px;
}